# USING THE SEARCH ENGINE PACKAGE

In [1]:
import pandas as pd
import se_package.functions as se

### Creates the search engine. This can take a minute...

In [2]:
df = pd.read_parquet('random_instruments.parq')
df = se.transform_dataframe(df, list(df.columns.values[1:]))
index, analyzed_description = se.generate_index(df, 'Unique_ID')

### Search engine ready to use. Here are some examples

Please refer to the [search engine functionality](functionality.md) for additional details.

In [3]:
# OR
query = 'Japan Bank "Government" '
result = se.generate_result(df, query, index, analyzed_description, 'Unique_ID')
result.head(5)

,Unique_ID,SEARCH_SCORE,Instrument_Description,Asset_Class,Currency,Reference_Area
5261,162983,0.88,Japan Bank for International Cooperation - Tod...,Government bond,US dollar,JP
3055,142819,0.88,Japan Bank for International Cooperation/Japan...,Government bond,US dollar,JP
7045,183365,0.88,Japan Bank for International Cooperation/Japan...,Government bond,US dollar,JP
3053,142807,0.88,Japan Bank for International Cooperation/Japan...,Government bond,US dollar,JP
3052,142793,0.88,JAPAN BANK FOR INTERNATIONAL COOPERATION - 2.1...,Government bond,US dollar,JP

In [5]:
# AND
query = 'THE Yield Curve'
result = se.generate_result(df, query, index, analyzed_description, 'Unique_ID')
result.head(5)

,Unique_ID,SEARCH_SCORE,Instrument_Description,Asset_Class,Currency,Reference_Area
30796,178202,1.0,Great Britain 3-year 9-month Zero coupon Yield...,Zero-coupon yield bond,UK pound sterling,GB
5051,19068,1.0,Switzerland 8-year Zero coupon Yield Curve - S...,Zero-coupon yield bond,Swiss franc,CH
5066,19137,1.0,Canada 2-year Zero coupon Yield Curve - Ask pr...,Zero-coupon yield bond,Canadian dollar,CA
5065,19136,1.0,Canada 1-year 9-month Zero coupon Yield Curve ...,Zero-coupon yield bond,Canadian dollar,CA
27231,147781,1.0,Euro Area 7-year Zero coupon benchmark Yield C...,Zero-coupon yield bond,Euro,U2